# Uncomment this line and set it to the path of the client files to set a
# custom data path. Otherwise ServUO will look for the client in the default
# Windows installation directories. Note that this is *required* when running
# on non-Windows systems.
#
# On deployed instances, client data is staged once (out of band, not part
# of the deploy pipeline) at C:\ServUO\ClientData - see infrastructure/lib/servuo/server-deploy.ts.
CustomPath=C:\ServUO\ClientData
